nav{
    width: inherit;
    height: inherit;
    left: 40%;
    text-align: center;
    background-color: #2c061f;
    
  
}

.PostNav {
    margin-left: 2rem;
    font-size: x-large;
    color:#d89216;
    text-decoration: none;
}

#aboutApp {
    font-size: x-large;
    margin-left: 25%;
    margin-top: 10rem;
}

.headCont {
    
    
}