

#createBtn {
    width:5rem;
    border: none;
    margin-top: 1rem;
    margin-left: 20%;
}

  

.cardSaved {
    width: 18rem;
    height: 13rem;
    padding: 1rem 1rem;;
    text-align: center;
    position: relative;
    top:0;
    float: left;
    color:#d89216;
    overflow-y: scroll;
}

.cardSaved::-webkit-scrollbar {
    width: 10px;
  }
  
  .cardSaved::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .cardSaved::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(44,6,31,1) 0%, rgba(55,64,69,1) 35%, rgba(216,146,22,1) 100%);
  }
